<div class="card">
    <div class="grid" [formGroup]="dateTimeForm">
        <div class="col-12 md:col-3">
            <h4>
                Authentication Log
            </h4>
        </div>
        <div class="col-12 md:col-9 md:flex md:justify-content-end">
            <div>
                <p-floatLabel>
                    <p-calendar formControlName="rangeDateTime" selectionMode="range" dateFormat="dd/mm/yy"
                        inputId="rangeDateTime" class="w-full" />
                    <label for="rangeDateTime">Filter by Range Date</label>
                </p-floatLabel>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="col-12">
            <p-table [value]="data" [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>Timestamp</th>
                        <th>IP Address</th>
                        <th>Outcome</th>
                        <th>User</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-columns="columns">
                    <tr>
                        <td>
                            {{item.timestamp |date:'dd MMM yyyy : HH:mm:ss'}}
                        </td>
                        <td>
                            {{item.ipAddress}}
                        </td>
                        <td>
                            <p-tag [value]="item.outcome" [severity]="getSeverity(item.outcome)" />
                        </td>
                        <td>
                            {{item.username}}
                        </td>
                        <!-- <td>
                            {{product.price | currency:'USD'}}
                        </td>
                        <td>
                            {{product.category}}
                        </td>
                        <td>
                            {{product.quantity}}
                        </td>
                        <td>
                            <p-tag [value]="product.inventoryStatus"
                                [severity]="getSeverity(product.inventoryStatus)" />
                        </td>
                        <td>
                            <p-rating [(ngModel)]="product.rating" [readonly]="true" [cancel]="false" />
                        </td> -->
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
