<div class="card fadein animation-duration-1000">
    <div class="grid">
        <div class="col-12">
            <h4>
                Credit Information Form
            </h4>

            <p-messages />

            <form [formGroup]="creditForm">
                <p-floatLabel>
                    <input pInputText id="id" class="w-full" formControlName="idNumber" />
                    <label for="id">ID/TIN Nº</label>
                </p-floatLabel>

                <p-floatLabel>
                    <p-dropdown inputId="float-label" [options]="financialInsititutionList" formControlName="grantor"
                        optionLabel="name" [showClear]="true" />
                    <label for="float-label">Select Credit Grantor</label>
                </p-floatLabel>

                <p-floatLabel>
                    <p-calendar inputId="accountCreationDate" formControlName="accountCreationDate" class="w-full" />
                    <label for="accountCreationDate" for="dateLastPayment">Date Account Opened</label>
                </p-floatLabel>

                <p-floatLabel>
                    <p-calendar inputId="dueDate" formControlName="dueDate" class="w-full" />
                    <label for="dueDate" for="dueDate">Due Date</label>
                </p-floatLabel>

                <p-floatLabel>
                    <p-inputNumber mode="currency" currency="USD" inputId="originalBalance"
                        formControlName="originalBalance" class="w-full" />
                    <label for="originalBalance">Original Balance</label>
                </p-floatLabel>

                <p-floatLabel>
                    <p-inputNumber mode="currency" currency="USD" inputId="monthlyPayment"
                        formControlName="monthlyPayment" class="w-full" />
                    <label for="monthlyPayment">Monthly Payment</label>
                </p-floatLabel>

                <p-floatLabel>
                    <p-calendar inputId="lastPaymentDate" formControlName="lastPaymentDate" class="w-full" />
                    <label for="lastPaymentDate" for="lastPaymentDate">Last Payment Date</label>
                </p-floatLabel>

                <p-floatLabel>
                    <p-inputNumber mode="currency" currency="USD" inputId="balance" formControlName="balance"
                        class="w-full" />
                    <label for="balance">Balance</label>
                </p-floatLabel>

                <p-floatLabel>
                    <p-dropdown inputId="sector-label" [options]="sectorList" formControlName="sector"
                        optionLabel="name" [showClear]="true" />
                    <label for="sector-label">Select a Sector</label>
                </p-floatLabel>

                <p-floatLabel>
                    <p-dropdown inputId="mannerOfPayment-label" [options]="mannerList" formControlName="mannerOfPayment"
                        optionLabel="name" [showClear]="true" />
                    <label for="mannerOfPayment-label">Select a Manner of Payment</label>
                </p-floatLabel>

                <p-floatLabel>
                    <p-dropdown inputId="security-label" [options]="typeCollateralList" formControlName="security"
                        optionLabel="name" [showClear]="true" />
                    <label for="security-label">Select a Security (Collateral)</label>
                </p-floatLabel>

                <p-floatLabel>
                    <textarea id="descriptionSecurity-input" formControlName="descriptionSecurity" class="w-full"
                        rows="5" cols="30" pInputTextarea>
                    </textarea>
                    <label for="descriptionSecurity-input">Description of Collateral</label>
                </p-floatLabel>

                <p-floatLabel>
                    <p-dropdown inputId="assetClass-label" [options]="creditClassificationList"
                        formControlName="assetClass" optionLabel="name" [showClear]="true" />
                    <label for="assetClass-label">Select an Asset Classification</label>
                </p-floatLabel>

            </form>
            <div class="mt-5">
                <div class="mt-5">
                    @if (isNew) {
                    <p-button label="Save" icon="pi pi-save" [disabled]="!creditForm.valid" [loading]="loading"
                        (click)="save(creditForm)" [raised]="true" severity="warning" />
                    }@else {
                    <p-button label="Update" icon="pi pi-sync" [disabled]="!creditForm.valid" [loading]="loading"
                        (click)="update(creditForm)" [raised]="true" severity="warning" />
                    }
                    <p-button label="Cancel" (click)="redirectBack()" routerLinkActive="router-link-active"
                        icon="pi pi-times" [raised]="true" severity="secondary" class="ml-3" />
                </div>
            </div>
        </div>
    </div>
</div>
<p-toast position="bottom-right" />
