<div class="card">
    <div class="grid">
        <div class="col-6 pr-4">
            <h4>
                Credit Information Form
            </h4>
            <form>
                <p-floatLabel>
                    <input pInputText id="id" class="w-full" />
                    <label for="id">ID Nº</label>
                </p-floatLabel>

                <p-floatLabel>
                    <input pInputText id="creditGrantor" class="w-full" />
                    <label for="electoral">
                        Name of Credit Grantor
                    </label>
                </p-floatLabel>

                <p-floatLabel>
                    <input pInputText id="dataCreditDisbursed" class="w-full" />
                    <label for="dataCreditDisbursed">
                        Data Credit Disbursed
                    </label>
                </p-floatLabel>

                <p-floatLabel>
                    <input pInputText id="totalCreditDisbursed" class="w-full" />
                    <label for="totalCreditDisbursed">
                        Total Credit Disbursed
                    </label>
                </p-floatLabel>

                <p-floatLabel>
                    <input pInputText id="monthlyPayment" class="w-full" />
                    <label for="monthlyPayment">
                        Monthly Payment
                    </label>
                </p-floatLabel>

                <p-floatLabel>
                    <p-calendar inputId="dateLastPayment" class="w-full" />
                    <label for="dateLastPayment">Date of last Payment Activity</label>
                </p-floatLabel>

                <p-floatLabel>
                    <input pInputText id="outstandingBalance" class="w-full" />
                    <label for="outstandingBalance">
                        Current Outstanding Balance
                    </label>
                </p-floatLabel>

                <p-floatLabel>
                    <input pInputText id="creditSector" class="w-full" />
                    <label for="creditSector">
                        Credit by Sector
                    </label>
                </p-floatLabel>

                <p-floatLabel>
                    <input pInputText id="typeCredit" class="w-full" />
                    <label for="typeCredit">
                        Type Credit
                    </label>
                </p-floatLabel>

                <p-floatLabel>
                    <input pInputText id="security" class="w-full" />
                    <label for="security">
                        Security (Type of collateral)
                    </label>
                </p-floatLabel>

                <p-floatLabel>
                    <input pInputText id="collateralDescription" class="w-full" />
                    <label for="collateralDescription">
                        Collateral Description
                    </label>
                </p-floatLabel>

                <p-floatLabel>
                    <input pInputText id="creditClassification" class="w-full" />
                    <label for="creditClassification">
                        Credit Classification
                    </label>
                </p-floatLabel>
            </form>
            <div class="mt-5">
                <p-button label="Submit" [raised]="true" />
            </div>
        </div>
        <div class="col-6 border-left-1 border-orange-300 pl-4">
            <div class="grid">
                <div class="col-12">
                    <h4>
                        Upload Excel File
                    </h4>
                    <p-toast />
                    <p-fileUpload name="myfile[]" url="https://www.primefaces.org/cdn/api/upload.php" [multiple]="false"
                        accept="image/*" maxFileSize="1000000" (onUpload)="onTemplatedUpload()"
                        (onSelect)="onSelectedFiles($event)">
                        <ng-template pTemplate="header" let-files let-chooseCallback="chooseCallback"
                            let-clearCallback="clearCallback" let-uploadCallback="uploadCallback">
                            <div class="flex flex-wrap justify-content-between align-items-center flex-1 gap-2">
                                <div class="flex gap-2">
                                    <p-button (onClick)="choose($event, chooseCallback)" icon="pi pi-images"
                                        [rounded]="true" [outlined]="true" />
                                    <p-button (onClick)="uploadEvent(uploadCallback)" icon="pi pi-cloud-upload"
                                        [rounded]="true" [outlined]="true" severity="success"
                                        [disabled]="!files || files.length === 0" />
                                    <p-button (onClick)="clearCallback()" icon="pi pi-times" [rounded]="true"
                                        [outlined]="true" severity="danger" [disabled]="!files || files.length === 0" />
                                </div>
                                <p-progressBar [value]="totalSizePercent" [showValue]="false"
                                    styleClass="md:w-20rem h-1rem w-full md:ml-auto"
                                    [ngClass]="{ 'exceeded-progress-bar': totalSizePercent > 100 }">
                                    <span class="white-space-nowrap">{{ totalSize }}B / 1Mb</span>
                                </p-progressBar>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="content" let-files let-uploadedFiles="uploadedFiles"
                            let-removeFileCallback="removeFileCallback"
                            let-removeUploadedFileCallback="removeUploadedFileCallback">
                            <div *ngIf="files?.length > 0">
                                <h5>Pending</h5>
                                <div class="flex flex-wrap p-0 sm:p-5 gap-5">
                                    <div *ngFor="let file of files; let i = index"
                                        class="card m-0 px-6 flex flex-column border-1 surface-border align-items-center gap-3">
                                        <div>
                                            <img role="presentation" [alt]="file.name" [src]="file.objectURL"
                                                width="100" height="50" />
                                        </div>
                                        <span class="font-semibold">{{ file.name }}</span>
                                        <div>{{ formatSize(file.size) }}</div>
                                        <p-badge value="Pending" severity="warning" />
                                        <p-button icon="pi pi-times"
                                            (onClick)="onRemoveTemplatingFile($event, file, removeFileCallback, index)"
                                            [outlined]="true" [rounded]="true" severity="danger" />
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="uploadedFiles?.length > 0">
                                <h5>Completed</h5>
                                <div class="flex flex-wrap p-0 sm:p-5 gap-5">
                                    <div *ngFor="let file of uploadedFiles; let i = index"
                                        class="card m-0 px-6 flex flex-column border-1 surface-border align-items-center gap-3">
                                        <div>
                                            <img role="presentation" [alt]="file.name" [src]="file.objectURL"
                                                width="100" height="50" />
                                        </div>
                                        <span class="font-semibold">{{ file.name }}</span>
                                        <div>{{ formatSize(file.size) }}</div>
                                        <p-badge value="Completed" class="mt-3" severity="success" />
                                        <p-button icon="pi pi-times" (onClick)="removeUploadedFileCallback(index)"
                                            [outlined]="true" [rounded]="true" severity="danger" />
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="file"> </ng-template>
                        <ng-template pTemplate="empty">
                            <div class="flex align-items-center justify-content-center flex-column">
                                <i
                                    class="pi pi-cloud-upload border-2 border-circle p-5 text-8xl text-400 border-400"></i>
                                <p class="mt-4 mb-0">Drag and drop file here to upload.</p>
                            </div>
                        </ng-template>
                    </p-fileUpload>


                </div>
            </div>
        </div>
    </div>
</div>
