<div class="login-bg flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div class="form py-5 px-4 shadow-1 border-round-3xl">
            <div class="text-center">
                <img src="assets/layout/images/bctl-logo.png" alt="BCTL logo" class="mb-3 w-10rem flex-shrink-0">
            </div>
            <div class="text-center mb-4">
                <p class="login-title">Credential Recovery </p>
            </div>
            <p-messages></p-messages>
            <div class="field p-fluid">
                <input [formControl]="email" id="email" type="text" placeholder="Email" pInputText>
            </div>

            <div class="flex align-items-center justify-content-end mb-2">
                <a routerLink="/"
                    class="font-medium no-underline ml-2 text-400 hover:text-800 hover:underline text-sm text-right cursor-pointer"
                    style="color: var(--primary-color)">Login</a>
            </div>
            <button severity="warning" (click)="submit()" [disabled]="!email.valid" [loading]="loading"
                icon="pi pi-send" pButton pRipple label="Submit" class="w-full p-3 text-lg"></button>
        </div>
    </div>
