<div class="card fadein animation-duration-1000">
    <div class="grid">
        <div class="col-12 pr-4">
            <h4>
                Fill form
            </h4>
            <p-messages />

            <div class="grid">
                <div class="col-6">
                    <p-selectButton [options]="beneficiaryTypeList" [formControl]="entityType" optionLabel="name"
                        optionValue="value" />
                </div>
            </div>

            @if (entityType.value === individual) {
            <form [formGroup]="personForm">
                <p-floatLabel>
                    <input pInputText id="fullName" formControlName="fullName" class="w-full" />
                    <label for="fullName">Full Name</label>
                </p-floatLabel>
                <div class="my-5">
                    <p-selectButton [options]="genderOpts" formControlName="gender" optionLabel="viewValue"
                        optionValue="value" />
                </div>
                <p-floatLabel>
                    <input pInputText id="idNumber" formControlName="idNumber" class="w-full" />
                    <label for="idNumber">ID Number</label>
                </p-floatLabel>
                @if (personForm.controls['idNumber'].errors?.['pattern']) {
                <div class="text-red-400">
                    <small class="text-red-200">No Symbols or spaces allowed in the TIN Number.</small>
                </div>
                }

                <p-floatLabel>
                    <p-calendar inputId="birthDate" formControlName="birthDate" class="w-full" dateFormat="dd/mm/yy"
                        placeholder="dd/mm/yyyy" />
                    <label for="birthDate">Birth Date</label>
                </p-floatLabel>
                <p-floatLabel>
                    <input pInputText id="address" formControlName="address" class="w-full" />
                    <label for="address">Address</label>
                </p-floatLabel>
                <p-floatLabel>
                    <p-dropdown inputId="float-label" [options]="cityList" formControlName="city" optionLabel="name"
                        [showClear]="true" />
                    <label for="float-label">Select a City</label>
                </p-floatLabel>

                <p-floatLabel>
                    <p-dropdown inputId="float-label" [options]="maritalStatusList" formControlName="maritalStatus"
                        optionLabel="name" [showClear]="true" />
                    <label for="float-label">Select a Marital Status</label>
                </p-floatLabel>

                <p-floatLabel>
                    <input pInputText id="spouseName" formControlName="spouseName" class="w-full" />
                    <label for="spouseName">Spouse's Name</label>
                </p-floatLabel>

                <p-floatLabel>
                    <input pInputText id="employmentHistory" formControlName="employmentHistory" class="w-full" />
                    <label for="employmentHistory">Employment History</label>
                </p-floatLabel>
                <p-floatLabel>
                    <input pInputText id="phoneNumber" formControlName="phoneNumber" class="w-full" />
                    <label for="phoneNumber">Telephone Number</label>
                </p-floatLabel>

            </form>
            <p-messages />
            <div class="mt-5">
                @if (isNew) {
                <p-button label="Save" icon="pi pi-save" [disabled]="!personForm.valid" [loading]="loading"
                    (click)="save(personForm)" [raised]="true" severity="warning" />
                }@else {
                <p-button label="Update" icon="pi pi-sync" [disabled]="!personForm.valid" [loading]="loading"
                    (click)="update(personForm)" [raised]="true" severity="warning" />
                }
                <p-button label="Cancel" [routerLink]="['/demographics']" routerLinkActive="router-link-active"
                    icon="pi pi-times" [raised]="true" severity="secondary" class="ml-3" />
            </div>
            }

            @if (entityType.value === company) {
            <form [formGroup]="businessForm">
                <p-floatLabel>
                    <input pInputText id="fullName" formControlName="fullName" class="w-full" />
                    <label for="fullName">Full Name</label>
                </p-floatLabel>
                <p-floatLabel>
                    <input pInputText id="idNumber" formControlName="idNumber" class="w-full" />
                    <label for="idNumber">TIN Number</label>
                </p-floatLabel>
                @if (businessForm.controls['idNumber'].errors?.['pattern']) {
                <div class="text-red-400">
                    <small class="text-red-200">No Symbols or spaces allowed in the TIN Number.</small>
                </div>
                }

                <p-floatLabel>
                    <p-calendar inputId="birthDate" formControlName="birthDate" class="w-full" dateFormat="dd/mm/yy"
                        placeholder="dd/mm/yyyy" />
                    <label for="birthDate">Birth Date</label>
                </p-floatLabel>
                <p-floatLabel>
                    <input pInputText id="address" formControlName="address" class="w-full" />
                    <label for="address">Address</label>
                </p-floatLabel>
                <p-floatLabel>
                    <p-dropdown inputId="float-label" [options]="cityList" formControlName="city" optionLabel="name"
                        [showClear]="true" />
                    <label for="float-label">Select a City</label>
                </p-floatLabel>
                <p-floatLabel>
                    <input pInputText id="phoneNumber" formControlName="phoneNumber" class="w-full" />
                    <label for="phoneNumber">Telephone Number</label>
                </p-floatLabel>

            </form>
            <p-messages />
            <div class="mt-5">
                @if (isNew) {
                <p-button label="Save" icon="pi pi-save" [disabled]="!businessForm.valid" [loading]="loading"
                    (click)="save(businessForm)" [raised]="true" severity="warning" />
                }@else {
                <p-button label="Update" icon="pi pi-sync" [disabled]="!businessForm.valid" [loading]="loading"
                    (click)="update(businessForm)" [raised]="true" severity="warning" />
                }
                <p-button label="Cancel" [routerLink]="['/demographics']" routerLinkActive="router-link-active"
                    icon="pi pi-times" [raised]="true" severity="secondary" class="ml-3" />
            </div>
            }
        </div>
    </div>
</div>
