<div class="card fadein animation-duration-1000">
    <div class="card-body">
        <div class="grid">
            <div class="col-12 md:col-5">
                <p-floatLabel>
                    <input pInputText id="search" [formControl]="searchFormControl" class="w-full"
                        placeholder="Name/Gender/ID Number/Address" />
                    <label for="search">Search</label>
                </p-floatLabel>
            </div>
            <div class="col-12 md:col-3">
                <p-menu #menu [model]="items" [popup]="true" />
                <p-button severity="info" [disabled]="demoData.length === 0" (onClick)="menu.toggle($event)" icon="pi pi-file-export" label="Export" />
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <p-table #demo [value]="demoData" [loading]="dataIsFetching" [scrollable]="true" scrollHeight="500px" [rowHover]="true">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>Beneficiary</th>
                            <th>Gender</th>
                            <th>Electoral Nº/Taxpayer ID (TIN)

                            </th>
                            <th>Address & City</th>
                            <th>Date of birth</th>
                            <th>Telephone Nº</th>
                            <th>Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-columns="columns">
                        <tr>
                            <td>
                                {{item.fullName}}
                            </td>
                            <td>{{item.beneficiary |titlecase}}</td>
                            <td>
                                {{item.gender |titlecase}}
                            </td>
                            <td>
                                @if (item.idNumber) {
                                    {{item.idNumber}}
                                }@else {
                                    {{item.tinNumber}}
                                }
                            </td>
                            <td>
                                {{item.address}} - {{item.cityName}}
                            </td>
                            <td>
                                {{item.birthDate |date:'dd MMM yyyy'}}
                            </td>
                            <td>
                                {{item.phoneNumber}}
                            </td>
                            <td>
                                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"
                                    severity="success" (click)="routeToDetailPage(item.idNumber, item.beneficiary)" />
                                <!-- <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" /> -->
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <p-paginator (onPageChange)="onPageChange($event)" [rows]="size" [totalRecords]="totalData"
                    [rowsPerPageOptions]="[50, 150, 250]" [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords}" />
            </div>

        </div>
    </div>
</div>

<p-dialog header="New Data" [modal]="true" [(visible)]="showDialog"
    [style]="{ 'min-width': '30rem', 'min-height': '15rem' }">
    <div class="grid h-15rem">
        <div class="col-6 flex justify-content-center align-items-center">
            <div>
                <button pButton [text]="true" size="large" [routerLink]="['/demographics/new']">
                    <i class="bi bi-person-add" style="font-size: 4rem"></i>
                </button>
            </div>
        </div>
        <div class="col-6 flex justify-content-center align-items-center border-left-1 border-orange-300 pl-4">
            <div>
                <button pButton [text]="true" size="large" [routerLink]="['/demographics/upload']">
                    <i class="bi bi-filetype-xls" style="font-size: 4rem" severity="success"></i>
                </button>
            </div>
        </div>
    </div>
</p-dialog>
