::ng-deep.p-float-label {
    margin-top: 25px;
}

::ng-deep.p-float-label:not(:first-child) {
    margin-top: 0px !important;
}

::ng-deep.p-password {
    width: 100% !important;

    & > ::ng-deep.p-password-panel,
    & > ::ng-deep.p-inputtext {
        width: 100% !important;
    }
}
