.login-bg {
    background: linear-gradient(rgba(10, 10, 10, 0.8), rgba(150, 131, 80, 0.4)), url('/assets/layout/images/bctl-office.jpg') no-repeat;
    background-size: cover;
    background-position: center
}

.form {
    min-width: 412px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background: linear-gradient(135deg, rgba(150, 131, 80, 0.4) 0%, rgba(13, 12, 7, 0.6) 60%);
    border: 1px solid rgba(176, 159, 109, 0.6);
    border-radius: 15px;
    padding: 2rem;
    box-shadow: inset 0 0 0.5px rgba(255, 255, 255, 0.4), 0 8px 32px rgba(0, 0, 0, 0.25);

    .card {
        background: linear-gradient(135deg, rgba(150, 131, 80, 0.4) 0%, rgba(13, 12, 7, 0.6) 60%);
    }
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.login-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}

::ng-deep .p-inputotp {
    .p-inputtext {
        font-size: 3rem;
    }

    .p-inputotp-input {
        width: 4rem;
    }

}
