<div class="card fadein animation-duration-1000">
    <div class="grid">
        <div class="col-5">
            <p-floatLabel>
                <input pInputText id="search" [formControl]="searchFormControl" class="w-full" />
                <label for="search">Search</label>
            </p-floatLabel>
        </div>
        <div class="col-3">
            <p-menu #menu [model]="items" [popup]="true" />
            <p-button severity="info" (onClick)="menu.toggle($event)" icon="pi pi-file-export" label="Export" />
        </div>
    </div>
    <div class="grid">
        <div class="col-12">
            <p-table #demo [value]="creditData" [loading]="dataIsFetching" [scrollable]="true" scrollHeight="calc(100vh - 200px)"
                [rowHover]="true">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>
                            Credit Grantor
                        </th>
                        <th>Electoral Nº/Taxpayer ID (TIN)</th>
                        <th>Due Date</th>
                        <th>Monthly Payment</th>
                        <th>Last Payment (Date)</th>
                        <th>Balance</th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-columns="columns">
                    <tr>
                        <td>
                            {{item.grantorName}}
                        </td>
                        <td>{{item.idNumber}}</td>
                        <td>
                            {{item.dueDate |date:'dd MMM yyyy'}}
                        </td>
                        <td>
                            {{item.monthlyPayment |currency}}
                        </td>
                        <td>
                            {{item.lastPaymentDate |date:'dd MMM yyyy'}}
                        </td>
                        <td>
                            {{item.balance |currency}}
                        </td>
                        <td>
                            <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"
                                severity="success" (click)="routeToDetailPage(item.id, item.idNumber)" />
                            <!-- <p-button icon=" pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" />
                            -->
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <p-paginator (onPageChange)="onPageChange($event)" [rows]="size" [totalRecords]="totalData"
                [rowsPerPageOptions]="[50, 150, 250]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords}" />
        </div>
    </div>
</div>
