<div [formGroup]="lokalForm" class="flex justify-content-between flex-wrap">
    <p-dropdown (onChange)="onMunisipiuChange($event)" [options]="munisipiuList" formControlName="munisipiu"
        optionLabel="Munisipiu" [showClear]="true" placeholder="Hili Munisipiu" class="pb-2" [required]="true">
        <ng-template let-item pTemplate="selectedItem">
            {{ item.naran }}
        </ng-template>
        <ng-template let-item pTemplate="item">
            {{ item.naran }}
        </ng-template>
    </p-dropdown>
    <p-dropdown (onChange)="onPostuChange($event)" formControlName="postuAdministrativu" [options]="postuList"
        optionLabel="Postu Administrativu" [showClear]="true" placeholder="Hili Postu Administrativu" class="pb-2"
        [required]="true">
        <ng-template let-item pTemplate="selectedItem">
            {{ item.naran }}
        </ng-template>
        <ng-template let-item pTemplate="item">
            {{ item.naran }}
        </ng-template>
    </p-dropdown>
    <p-dropdown formControlName="suku" (onChange)="onSukuChange($event)" [options]="sukuList" optionLabel="Suku"
        [showClear]="true" placeholder="Hili Suku" class="pb-2" [required]="true">
        <ng-template let-item pTemplate="selectedItem">
            {{ item.naran }}
        </ng-template>
        <ng-template let-item pTemplate="item">
            {{ item.naran }}
        </ng-template>
    </p-dropdown>
    <p-dropdown formControlName="aldeia" (onChange)="onAldeiaChange()" [options]="aldeiaList" optionLabel="Aldeia"
        [showClear]="true" placeholder="Hili Aldeia" [required]="true">
        <ng-template let-item pTemplate="selectedItem">
            {{ item.naran }}
        </ng-template>
        <ng-template let-item pTemplate="item">
            {{ item.naran }}
        </ng-template>
    </p-dropdown>

</div>
